<%- include('../partials/header'); %>
<%- include('../partials/navbar_usuario'); %>

<div class="container mt-4">

  <h1 class="mb-4 text-center">Lista de Zonas Registradas</h1>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover align-middle text-center">
      <thead class="table-dark">
        <tr>
          <th>Id Zona</th>
          <th>Cuota Administración</th>
          <th>Capacidad</th>
          <th>Profundidad</th>
          <th>Dim. Máx. Eslora</th>
          <th>Dim. Máx. Manga</th>
          <th>Dim. Máx. Calado</th>
          <th>Dim. Mín. Eslora</th>
          <th>Dim. Mín. Manga</th>
          <th>Dim. Mín. Calado</th>
        </tr>
      </thead>

      <tbody>
        <% objetosCons.forEach(z => { %>
          <tr>
            <td><%= z.id_zona %></td>
            <td><%= z.cuota_administracion %></td>
            <td><%= z.capacidad %></td>
            <td><%= z.profundidad %></td>

            <td><%= z.dim_max_eslora %></td>
            <td><%= z.dim_max_manga %></td>
            <td><%= z.dim_max_calado %></td>

            <td><%= z.dim_min_eslora %></td>
            <td><%= z.dim_min_manga %></td>
            <td><%= z.dim_min_calado %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <form action="/zona/lista/1" method="GET" class="text-center mt-3">
    <button type="submit" class="btn btn-primary">
      Cargar lista
    </button>
  </form>

</div>



<%- include('../partials/navbar_footer'); %>
<%- include('../partials/footer'); %>


<!-- necesito poner ésto bonito pero minimalista con boostrap como lo venía trabajando, con configuraciones básicas y por defecto de bootstrap: -->
