<!DOCTYPE html>
<html>
<head>
  <title>Lista de Empleados</title>
</head>
<body>

<h1>Lista de Empleados Registrados</h1>

<table border="1">
  <tr>
    <th>Cedula</th>
    <th>Nombre</th>
    <th>Cédula</th>
    <th>Fecha Vinculación</th>
    <th>Dirección</th>
    <th>Teléfono</th>
  </tr>

  <% objetosCons.forEach(s => { %>
    <tr>
      <td><%= s.cedula %></td>
      <td><%= s.nombre %></td>
      <td><%= s.cedula %></td>
      <td><%= s.fecha_vinculacion %></td>
      <td><%= s.direccion %></td>
      <td><%= s.telefono %></td>
    </tr>
  <% }) %>

</table>
<form action="/empleados/lista/1" method="GET">
  <button type="submit">Cargar lista</button>
</form>

<button> </button>

</body>
</html>
